# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Notion
VITE_NOTION_API_KEY=
VITE_NOTION_DATABASE_ID=
NOTION_API_KEY=
NOTION_DATABASE_ID=

# External Services
VITE_KALDEV_SECRET_TOKEN=
KALDEV_SECRET_TOKEN=
VITE_OMDEDY_PMA_SECRET=
OMDEDY_PMA_SECRET=
